<style type="text/css">
	body{
		font-family: cursive;
		color: blue;
		margin-left: auto;
		margin-right: auto;
	}
    body{
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    }
	p{
		margin-top: 2%;
		float: top;
	}
	float{
		float: left;
	}
	pad{
		margin-left: 10%;
	}
	img{
		height: 20%;
		width: 40%;
	}
	textarea{
		resize: none;
		float: top;
	}
	space{
		margin-left: 2%;
	}
</style>